:root {
  /* Couleurs institutionnelles */
  --bleu-academique: #0A316C;
  --blanc-pur: #FFFFFF;

  /* Couleurs secondaires */
  --cyan-tech: #81ECEC;
  --jaune-electrique: #FDCB6E;

  /* Typographies */
  --font-titres: 'Montserrat', 'Poppins', sans-serif;
  --font-corps: 'Open Sans', 'Roboto', sans-serif;
}

/*--------------------body-------------------*/
body{
    background-color: white;
    font-family: var(--font-corps);
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
/*---------------------header---------------*/

header {
  background-color: var(--bleu-academique);
  color: white;
  text-align: center;
  padding: 10px;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 10px 10px 50px;
  position: relative;
}

header img {
  width: 300px;
  height: auto;
}

header h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--blanc-pur);
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header-title h1,
.header-title h2 {
  margin: 0;
}

@media screen and (max-width: 1024px) {
    .header-top {
        flex-direction: column; 
        align-items: center;
        padding: 10px;
    }

    .header-title {
        position: static;  
        transform: none;
        text-align: center;
        margin-top: 10px;
    }

    header img {
        width: 200px;
    }

    .header-title h1 {
        font-size: 28px;
    }

    .header-title p.title {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {

    .header-top{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    header img {
        width: 150px;
        height: auto;
    }

    .header-title h1 {
        font-size: 22px;
    }

    .header-title {
        position: static;
        transform: none;
        margin-top: 10px;
        }
    
    .header-title p {
        font-size: 12px;
    }
}


/*-------------------------nav------------------------*/
nav{
    display: flex;         
    justify-content: center;
    gap: 20px; 
}

nav a{
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}


nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--cyan-tech);
    transition: width 0.3s ease-in-out;

}

nav a:hover::after, nav a.active::after{
    width: 100%;
}

nav a:hover,nav a.active{
    color: var(--cyan-tech);
}

@media screen and (max-width: 1024px) {
    nav {
        flex-wrap: wrap;       
        gap: 5px;
        justify-content: center;
    }

    nav a {
        padding: 5px 10px;
        font-size: 13px;      
    }
}

@media screen and (max-width: 600px) {
    nav {
        gap: 3px;
    }

    nav a {
        font-size: 11px;
        padding: 4px 6px;
        margin-top: 5px;
    }
}


/*--------------------section-----------------------------*/
section {
  background: var(--blanc-pur);
  padding: 2rem 2.5rem;
  margin: 2rem auto;
  max-width: 1100px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);

}

section:hover{
  box-shadow: 0 2px 6px var(--bleu-academique);
  
}

.title-box{
  font-size: 32px;
  font-weight: 700;
  color:black;
  font-family: var(--font-titres);
}

/*-------------------------carrousel---------------------*/
.container {
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.container:hover{
    transform: scale(1.05);
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-inner {
    display: flex;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
}


.slide {
    flex: 0 0 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
    transition: transform 0.8s ease-in-out;
    opacity: 0.9;
}


.carousel:hover img{
    transform: scale(1.1);
    opacity: 1;
}


.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 3%;
    right: 3%;
    top: 45%;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.carousel-controls button {
    padding: 10px;
    font-size: 80px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.8);
    
}

.carousel-controls button:hover{
    color: var(--cyan-tech);
}

.carousel-dots {
    position: absolute;
    z-index: 5;
    left: 0;                
    right: 0;
    bottom: 30px;
    display: flex;
    justify-content: center;
}

.carousel-dots .dot {
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.carousel-dots .active {
    border: 10px solid white;
}

.carousel-dots .inactive {
    border: 10px solid var(--bleu-academique);
}

.carousel-txt {
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-family: var(--font-corps);
    font-size: 32px;
    color: white;
    text-decoration:none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-txt.visible{
    opacity: 1;
}

@media screen and (max-width: 600px) {

    .carousel-inner {
        height: 50vh;
    }

    .carousel-controls button {
        font-size: 40px;
    }

    .carousel-txt{
        font-size: 20px;
    }
}

/*-----------------histoire_efrei------------------*/

#histoire-efrei{
    text-decoration: none;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: var(--font-titres);
}

section p{
    text-align: center;
}

/*--------------------frise-chrono------------------*/
.frise-chrono{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--bleu-academique);
    box-sizing: border-box;
    border-radius: 10px;
}

/*mise en place de la timeline*/
.frise-chrono::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.container2{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 30%;
    transition: border 0.2s ease-in-out;
    --cercle-couleur: var(--cyan-tech);
}

/*creation des cercles*/
.container2::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border:  4px solid var(--cercle-couleur);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container2.active{
     --cercle-couleur:  rgb(255,105,180);
}

.left{
    left: 12.7%;
}

.right{
    left: 50%;
}

/*fleche gauche*/
.left::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/*fleche droite*/
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after{
    left: -16px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}


.timeline-content img{
    width: 40%;
    height: auto;
}

.timeline-content:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {

    .frise-chrono{
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .frise-chrono::after {
        left: 20px;
    }

    .container2 {
        width: 80%;
        left: 30px;
        padding: 10px 15px;
        align-items: center;
    }


    .container2::after {
        left: -28px;
        right: auto;            
    }

    .left::before, .right::before {
        left: -10px;
        right: auto;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .timeline-content img {
        width: 60%;
        height: auto;             
    }
}


/*-----------------video----------------*/
iframe{
    border-radius: 8px;
}

@media screen and (max-width: 600px) {

    iframe {
        width: 100%;
        height: 200px;
    }

}

/*-----------------footer-----------------------*/
footer{
    background-color: var(--bleu-academique);
    padding: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}

footer p{
   margin: 2px 0;
}

/*------------------------SOULIGNAGE-DYNAMIQUE-------------------*/
footer .propos{
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px;
}

footer .propos::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

footer .propos:hover::after{
  width: 100%;
}

@media screen and (max-width: 1024px) {
    .certif-efrei {
        gap: 30px;              
        flex-wrap: wrap;        
        padding: 10px;
    }

    .certif-efrei img {
        width: 120px;           /
    }

    .certif-efrei .cti {
        height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .certif-efrei {
        flex-direction: column; 
        align-items: center;
        gap: 10px;
    }

    .certif-efrei img {
        width: 100px;
    }

    .certif-efrei .cti {
        height: 60px;
    }

    .reseaux {
        gap: 15px;             
    }

    .reseaux img {
        width: 50px;         
    }

    .yt-icon {
        width: 40px;
    }

    footer {
        padding: 15px 10px;   
        text-align: center;
    }
}
/*----------------label-efrei-------------------*/
.certif-efrei {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 20px;
    width: 100%;
}

.certif-efrei .logo-u {
    filter: brightness(0) invert(1);
}

.certif-efrei img{
    width: 200px;
    height: auto;
    object-fit: contain;
}

.certif-efrei .cti{
    height: 100px;
    object-fit: contain;
}



/*--------------------reseaux-------------------*/
.reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.reseaux img{
    width: 80px;
    height: auto;
    object-fit: contain;
}

.reseaux .image1{
    filter: brightness(0) invert(1);
}

.reseaux .image1:hover{
    filter: brightness(0);
}
/*------------------------yt----------------------*/
.yt-icon {
    width: 60px;
    height: auto;
    fill: white;
}

.yt-icon:hover{
    filter: brightness(0);
}
