:root {
  /* Couleurs institutionnelles */
  --bleu-academique: #0A316C;
  --blanc-pur: #FFFFFF;

  /* Couleurs secondaires */
  --cyan-tech: #81ECEC;
  --jaune-electrique: #FDCB6E;

  /* Typographies */
  --font-titres: 'Montserrat', 'Poppins', sans-serif;
  --font-corps: 'Open Sans', 'Roboto', sans-serif;
}

/*--------------------body-------------------*/
body{
    background-color: white;
    font-family: var(--font-corps);
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}
/*---------------------header---------------*/

header{
    background-color: var(--bleu-academique);
    color: white;
    text-align: center;
    padding: 10px;
}

.header-top {
    display: flex;
    align-items: center;  
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
}

header img {
    width: 300px;         
    height: auto;
    flex-shrink: 0;
}

.header-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.header-title h1 {
    font-family: var(--font-titres);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--blanc-pur);
    margin: 0;
}

.header-title h2 {
    font-family: var(--font-titres);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;
    padding: 10px;
    margin: 0;
}

/*-------------------------nav------------------------*/
nav{
    display: flex;         
    justify-content: center;
    gap: 20px; 
}

nav a{
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}


nav a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--cyan-tech);
    transition: width 0.3s ease-in-out;

}

nav a:hover::after, nav a.active::after{
    width: 100%;
}

nav a:hover,nav a.active{
    color: var(--cyan-tech);
}


/*--------------------section-----------------------------*/
section {
  background: var(--blanc-pur);
  padding: 2rem 2.5rem;
  margin: 2rem auto;
  max-width: 1100px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);

}

section:hover{
  box-shadow: 0 2px 6px var(--bleu-academique);
  
}
/*-------------------------carrousel---------------------*/
.container {
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.container:hover{
    transform: scale(1.05);
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-inner {
    display: flex;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
}


.slide {
    flex: 0 0 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    justify-content: center;
    transition: transform 0.8s ease-in-out;
    opacity: 0.9;
}


.carousel:hover img{
    transform: scale(1.1);
    opacity: 1;
}


.carousel-controls {
    position: absolute;
    z-index: 5;
    left: 5%;
    right: 5%;
    top: 45%;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.carousel-controls button {
    padding: 10px;
    font-size: 70px;
    font-weight: bold;
    
}

.carousel-dots {
    position: absolute;
    z-index: 5;
    left: 0;                
    right: 0;
    bottom: 30px;
    display: flex;
    justify-content: center;
}

.carousel-dots .dot {
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.carousel-dots .active {
    border: 10px solid white;
}

.carousel-dots .inactive {
    border: 10px solid var(--bleu-academique);
}

.carousel-txt {
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-family: var(--font-corps);
    font-size: 32px;
    color: white;
    text-decoration: underline;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-txt.visible{
    opacity: 1;
}


/*-----------------histoire_efrei------------------*/
section{
    color:black;
}

section a{
    text-decoration: none;
    text-align: center;
}
/*-----------------video----------------*/
iframe{
    border-radius: 8px;
}

/*-----------------footer-----------------------*/
footer{
    background-color: var(--bleu-academique);
    padding: 20px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}

footer p{
   margin: 2px 0;
}

/*------------------------SOULIGNAGE-DYNAMIQUE-------------------*/
footer .propos{
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 5px;
}

footer .propos::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

footer .propos:hover::after{
  width: 100%;
}
/*----------------label-efrei-------------------*/
.certif-efrei {
    display: flex;    
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 20px;
    width: 100%;
}

.certif-efrei .logo-u {
    filter: brightness(0) invert(1);
}

.certif-efrei img{
    width: 200px;
    height: auto;
    object-fit: contain;
}

.certif-efrei .cti{
    height: 100px;
    object-fit: contain;
}



/*--------------------reseaux-------------------*/
.reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.reseaux img{
    width: 80px;
    height: auto;
    object-fit: contain;
}

.reseaux .image1{
    filter: brightness(0) invert(1);
}

.reseaux .image1:hover{
    filter: brightness(0);
}
/*------------------------yt----------------------*/
.yt-icon {
    width: 60px;
    height: auto;
    fill: white;
}

.yt-icon:hover{
    filter: brightness(0);
}
